.faq {
  margin: 2rem 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.faqTitle {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
}

.faq p {
  display: none;
}

.faq.active p {
  max-height: 1000px;
  display: inline;
  transition: all 2s inherit;

  color: #951d76;
  font-size: 16px;
}
.faq-section {
  background-color: rgb(236, 236, 236);
}
.faqHead {
  font-size: 45px;
}
.faq.active .faqTitle {
  color: #951d76;
}
@media screen and (max-width: 450px) {
  .faqTitle {
    width: 90%;
  }
  .faq.active p {
    padding: 0;
    width: 100%;
  }
}
