.video-responsive {
  overflow: hidden;
  position: relative;
  height: 0;
  height: 210px;
  width: 33%;
}

.video-responsive iframe {
  left: 0;
  top: 0;

  position: absolute;
}
.ytVideo {
  width: 95%;
  height: 300px;
}
