.video-responsive {
  overflow: hidden;
  position: relative;
  height: 0;
  height: 280px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-responsive iframe {
  left: 0;
  top: 0;

  position: absolute;
}
.ytVideo {
  width: 95%;
  height: 300px;
}
@media screen and (max-width: 450px) {
  .video-responsive {
    width: 95%;
    align-self: center;
  }
}
