.cud {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  width: 80%;
}
.cudItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: 3px solid #951d76;
  padding: 30px;
  border-radius: 20px;
  align-items: center;
}
.cudTitle {
  font-size: 20px;
  font-weight: 600;
  color: #951d76;
  margin-bottom: 20px;
}
.cudText {
  font-size: 16px;
}
@media screen and (max-width: 450px) {
  .cud {
    display: flex;
    flex-direction: column;
  }
}
